  /* Step 1: Common Properties: All required to make icons render reliably - we did this above but it's included here for the full demo */
  .icon::before {
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
  }

  /* Step 2: Reference Individual Icons */
  /* Note: Make sure to include the correct weight and Unicode value for the icon */

  /* here's an individual icon rule for the fa-user icon in the solid style which will show up next to any element with the "account" class */
  .account::before {
      font: var(--fa-font-solid);
      content: "\f007";
  }

  /* here's an individual icon rule for the fa-newspaper icon in the light style which will show up next to any element with the "tps" class */
  .tps::before {
      font: var(--fa-font-light);
      content: "\f1ea";
  }