/* ------------------------------------------------------------- *
   *  Intervals
  /* ------------------------------------------------------------- */
:root {
  --interval: 0.5s;
}

.o1 {
  -webkit-animation-delay: calc(var(--interval) * 1);
  animation-delay: calc(var(--interval) * 1);
}

.o2 {
  -webkit-animation-delay: calc(var(--interval) * 2);
  animation-delay: calc(var(--interval) * 2);
}

.o3 {
  -webkit-animation-delay: calc(var(--interval) * 3);
  animation-delay: calc(var(--interval) * 3);
}

.o4 {
  -webkit-animation-delay: calc(var(--interval) * 4);
  animation-delay: calc(var(--interval) * 4);
}

.o5 {
  -webkit-animation-delay: calc(var(--interval) * 5);
  animation-delay: calc(var(--interval) * 5);
}

.o6 {
  -webkit-animation-delay: calc(var(--interval) * 6);
  animation-delay: calc(var(--interval) * 6);
}

.o7 {
  -webkit-animation-delay: calc(var(--interval) * 7);
  animation-delay: calc(var(--interval) * 7);
}

/* --------------------------------------------------------------------------------------- *
 *	 Page transitions / preloader (Animsition). Display loading animation while page loads
 *  More info: http://git.blivesta.com/animsition/
/* --------------------------------------------------------------------------------------- */

/* circle loader */
.animsition-loading {
  border-top: 0.1875rem solid rgba(88, 89, 91, 0.3);
  border-right: 0.1875rem solid rgba(88, 89, 91, 0.3);
  border-bottom: 0.1875rem solid rgba(88, 89, 91, 0.3);
  border-left: 0.1875rem solid #1D71B8;
}

/** animation slide-in-top **/

.slide-in-top {
  -webkit-animation: slide-in-top 0.4s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.4s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/** animation ZoomOut **/
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

/** animation ZoomIn **/
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

×

/** animation slideInDown  **/
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/** animation fadeInDown  **/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/** animation fadeInUp  **/
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}