.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.form__fieldset {
  flex-direction: row;
  flex-wrap: nowrap;
}

.form__radio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.25rem;
  font-size: 0.9em;
  color: #58595B;
  align-items: flex-start;
  justify-content: space-around;
}

.form__container {
  width: 100%;
  display: flex;
  padding-left: 30px;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #58595B;
  align-items: flex-start;
}

.form__div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.25rem;
  font-size: 0.9em;
  color: #58595B;
  align-items: center;
  justify-content: space-between;
}

.form__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.form__legend {
  font-size: 1em;
  padding: 5px 10px;
  line-height: 1.2;
  color: #58595B;
}

.form__input {
  border-bottom: 1px solid #58595B;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: transparent;
  font: normal 400 1.2em sans-serif;
  padding: 0.25rem;
  margin: 0.25rem;
  width: 50%;
  color: #58595B;
  font-size: 0.9em;
}

.form__search {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: #58595B;
  padding: 5px 40px;
  border: 1px solid #58595B;
  border-radius: 25px;
  background: transparent url(/assets/media/search.svg) no-repeat 5px;
  border: 1px solid #58595B;
  width: 50%;
}

.form__search:focus {
  outline: none;
  color: #58595B;
}

label {
  font-size: 0.9em;
  color: #58595B;
}

.formButton {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  color: #1D71B8;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #1D71B8;
}

.formButton:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #1D71B8;
  border-color: #1D71B8;
}

.formButton a {
  color: #1D71B8;
  text-decoration: none;
}

.formButton i {
  transition: all 500ms ease-in-out;
  opacity: 0;
  margin-left: -14px;
}

.formButton:hover i {
  opacity: 1;
  margin-left: 14px;
}