/* Small devices (portrait tablets and large phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header__logo {
    left: 26px;
    top: 26px;
  }

  .whatsapp__logo {
    max-width: 50px;
    left: 26px;
    bottom: 26px;
  }

  .logo__img {
    width: 52%;
  }

  .icon-menu {
    right: 26px;
  }

  .icon-menu i {
    font-size: 26px;
  }

  .icon-close {
    right: 26px;
    top: 26px;
  }

  .icon-close i {
    font-size: 1.625rem;
  }

  .container-menu {
    top: 26px;
  }

  .cont-menu {
    width: auto;
    background-color: #1D71B8;
    overflow-y: auto;
  }

  #secondary {
    color: #FFF;
  }

  #secondary .cont-menu {
    background: #1D71B8;
  }

  .btn-menu {
    top: 26px;
    width: 26px;
  }

  .main-menu__item {
    padding: 20px;
  }

  .main-menu__link {
    font-size: 13px;
  }

  .intro-caption {
    max-width: 70%;
    left: 10%;
    bottom: 10%;
  }

  .intro-description {
    font-size: 0.75rem;
    line-height: 1.2;
  }

  /* intro large */
  .large-description {
    font-size: 0.75rem;
    line-height: 0.95;
  }

  .large-description p {
    margin-bottom: auto;
  }

  .button {
    padding: 4px 24px;
    border-radius: 22px;
    border: 1px solid #FFF;
  }

  .button i {
    margin-left: -10px;
  }

  .button:hover i {
    margin-left: 10px;
  }

  .containerBTN {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .containerEssentia {
    padding: 15px;
    flex-direction: column;
  }

  .link-item {
    font-size: 12px;
    padding-bottom: 12px;
  }

  .link-item i {
    margin-left: -16px;
  }

  .link-item:hover i {
    margin-left: 8px;
  }

  .swf {
    margin: 0 8px 0 -12px;
  }

  .address i {
    width: 18px;
  }

  .addressContainer {
    padding-left: 25%;
  }

  .social .icon {
    margin: 1rem 1rem 1rem 0;
  }

  .social .icon span i {
    font-size: 1.6rem;
  }

  .social .icon .bubble {
    display: none;
  }

  .blue-item {
    font-size: 12px;
    padding-bottom: 14px;
  }

  .blue-item i {
    margin-left: -16px;
  }

  .blue-item:hover i {
    margin-left: 8px;
  }

  .network-item {
    font-size: 12px;
    padding-bottom: 14px;
    width: 25%;
  }

  .network-item .fa-brands {
    margin-right: 8px;
    font-size: 1rem;
  }

  .network-item .fa-solid {
    opacity: 0;
    margin-left: -20px;
  }

  .network-item:hover .fa-solid {
    opacity: 1;
    margin-left: 10px;
  }

  .ess-name {
    font-size: 11px;
  }

  .ess-charge {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
    margin-left: 2px;
  }

  .ov-container {
    padding-left: 6px;
  }

  .ov-container .ov-item a {
    font-size: 1rem;
    padding: 18px 0;
  }

  .ov-container .ov-item i {
    margin-left: -16px;
  }

  .ov-container .ov-item:hover i {
    margin-left: 10px;
  }

  .ov-container .ov-list .ov-item ul li {
    padding: 0px 38px;
  }

  .overlayContainer {
    margin: 10px;
  }

  .btn-close {
    right: 16px;
    top: 16px;
  }

  .btn-close i {
    font-size: 30px;
  }

  .overlay {
    padding: 60px;
    overflow-y: auto;
  }

  .overlay-title {
    padding: 12px 0px;
  }

  .name {
    font-size: 12px;
  }

  .charge {
    font-size: 10px;
    margin: -5px 0px 0px 0px;
  }

  .ytVideo {
    max-width: 770px;
    max-height: 434px;
  }

  .igVideo {
    max-width: 277px;
    max-height: 490px;
  }

  .videoInt {
    max-width: 420px;
    max-height: 420px;
  }

  #headEspecialidades {
    top: 80px;
  }

  .wrapperAcc {
    padding: 0 10px;
  }

  .wrapperAcc .parent-tab {
    margin-bottom: 8px;
  }

  .wrapperAcc .parent-tab label {
    padding: 0px;
    font-size: 0.8rem;
  }

  .wrapperAcc label span {
    font-size: 0.8rem;
  }

  .wrapperAcc label .icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }

  .wrapperAcc .parent-tab input:checked~label .icon i:before {
    padding-left: 12px;
    transition: padding-left translateX(12px);
  }

  .wrapperAcc .parent-tab .content p {
    font-size: 0.8rem;
    padding: 12px 16px 0px 16px;
  }

  .internal-title {
    padding: 34px 0px;
  }

  .line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
  }

  .lineStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .line-title {
    padding-right: 0.8rem;
  }

  footer {
    padding: 1.2rem 0;
  }
}

/* Medium devices (landscape, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header__logo {
    left: 28px;
    top: 28px;
  }

  .whatsapp__logo {
    max-width: 60px;
    left: 28px;
    bottom: 28px;
  }

  .logo__img {
    width: 55%;
  }

  .icon-menu {
    right: 28px;
  }

  .icon-menu i {
    font-size: 28px;
  }

  .icon-close {
    right: 28px;
    top: 28px;
  }

  .icon-close i {
    font-size: 1.8rem;
  }

  .container-menu {
    top: 28px;
  }

  .cont-menu {
    width: auto;
    background-color: #1D71B8;
    overflow-y: auto;
  }

  #secondary {
    color: #FFF;
  }

  #secondary .cont-menu {
    background: #1D71B8;
  }

  .btn-menu {
    top: 28px;
    width: 28px;
  }

  .main-menu__item {
    padding: 21px;
  }

  .main-menu__link {
    font-size: 14px;
  }

  .intro-caption {
    max-width: 70%;
    left: 10%;
    bottom: 10%;
  }

  .intro-description {
    font-size: 0.8rem;
    line-height: 1.3;
  }

  /* intro large */
  .large-description {
    font-size: 0.8rem;
    line-height: 1;
  }

  .large-description p {
    margin-bottom: auto;
  }

  .button {
    padding: 5px 26px;
    border-radius: 23px;
    border: 1px solid #FFF;
  }

  .button i {
    margin-left: -12px;
  }

  .button:hover i {
    margin-left: 12px;
  }

  .containerBTN {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .containerEssentia {
    padding: 20px;
    flex-direction: column;
  }

  .link-item {
    font-size: 13px;
    padding-bottom: 14px;
  }

  .link-item i {
    margin-left: -17px;
  }

  .link-item:hover i {
    margin-left: 9px;
  }

  .swf {
    margin: 0 9px 0 -14px;
  }

  .address i {
    width: 20px;
  }

  .addressContainer {
    padding-left: 30%;
  }

  .social .icon {
    margin: 1rem 1rem 1rem 0;
  }

  .social .icon span i {
    font-size: 1.75rem;
  }

  .social .icon .bubble {
    display: none;
  }

  .blue-item {
    font-size: 13px;
    padding-bottom: 15px;
  }

  .blue-item i {
    margin-left: -17px;
  }

  .blue-item:hover i {
    margin-left: 8px;
  }

  .network-item {
    font-size: 13px;
    padding-bottom: 15px;
    width: 25%;
  }

  .network-item .fa-brands {
    margin-right: 8px;
    font-size: 1rem;
  }

  .network-item .fa-solid {
    opacity: 0;
    margin-left: -20px;
  }

  .network-item:hover .fa-solid {
    opacity: 1;
    margin-left: 10px;
  }

  .ess-name {
    font-size: 12px;
  }

  .ess-charge {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
    margin-left: 2px;
  }

  .ov-container {
    padding-left: 7px;
  }

  .ov-container .ov-item a {
    font-size: 18px;
    padding: 20px 0;
  }

  .ov-container .ov-item i {
    margin-left: -17px;
  }

  .ov-container .ov-item:hover i {
    margin-left: 10px;
  }

  .ov-container .ov-list .ov-item ul li {
    padding: 0px 42px;
  }

  .overlayContainer {
    margin: 10px;
  }

  .btn-close {
    right: 18px;
    top: 18px;
  }

  .btn-close i {
    font-size: 32px;
  }

  .overlay {
    padding: 70px;
    overflow-y: auto;
  }

  .overlay-title {
    padding: 14px 0px;
  }

  .name {
    font-size: 13px;
  }

  .charge {
    font-size: 10px;
    margin: -5px 0px 0px 0px;
  }

  .ytVideo {
    max-width: 855px;
    max-height: 482px;
  }

  .igVideo {
    max-width: 308px;
    max-height: 547px;
  }

  .videoInt {
    max-width: 475px;
    max-height: 475px;
  }


  #headEspecialidades {
    top: 90px;
  }

  .wrapperAcc {
    padding: 0 16px;
  }

  .wrapperAcc .parent-tab {
    margin-bottom: 8px;
  }

  .wrapperAcc .parent-tab label {
    padding: 0px;
    font-size: 0.9rem;
  }

  .wrapperAcc label span {
    font-size: 0.9rem;
  }

  .wrapperAcc label .icon {
    height: 26px;
    width: 26px;
    border-radius: 50%;
  }

  .wrapperAcc .parent-tab input:checked~label .icon i:before {
    padding-left: 13px;
    transition: padding-left translateX(13px);
  }

  .wrapperAcc .parent-tab .content p {
    font-size: .9rem;
    padding: 14px 18px 0px 18px;
  }

  .internal-title {
    padding: 36px 0px;
  }

  .line-title {
    padding-right: 0.9rem;
  }

  footer {
    padding: 1.3rem 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header__logo {
    left: 29px;
    top: 29px;
  }

  .whatsapp__logo {
    max-width: 70px;
    left: 29px;
    bottom: 29px;
  }

  .logo__img {
    width: 58%;
  }

  .icon-menu {
    right: 29px;
  }

  .icon-menu i {
    font-size: 28.8px;
  }

  .icon-close {
    right: 29px;
    top: 29px;
  }

  .icon-close i {
    font-size: 2rem;
  }

  .container-menu {
    top: 29px;
  }

  .cont-menu {
    max-width: auto;
    overflow-y: auto;
  }

  #secondary {
    color: #FFF;
  }

  #secondary .cont-menu {
    background: #1D71B8;
  }

  .btn-menu {
    top: 29px;
    width: 29px;
  }

  .main-menu__item {
    padding: 22px;
  }

  .main-menu__link {
    font-size: 15px;
  }

  .intro-caption {
    max-width: 70%;
    left: 10%;
    bottom: 10%;
  }

  .intro-description {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  /* intro large */
  .large-description {
    font-size: 0.9rem;
    line-height: 1;
  }

  .large-description p {
    margin-bottom: auto;
  }

  .button {
    padding: 6px 28px;
    border-radius: 23px;
    border: 2px solid #FFF;
  }

  .button i {
    margin-left: -13px;
  }

  .button:hover i {
    margin-left: 13px;
  }

  .link-item {
    font-size: 14px;
    padding-bottom: 15px;
  }

  .link-item i {
    margin-left: -18px;
  }

  .link-item:hover i {
    margin-left: 9px;
  }

  .swf {
    margin: 0 10px 0 -20px;
  }

  .address i {
    width: 22px;
  }

  .addressContainer {
    padding-left: 35%;
  }

  .social .icon {
    margin: 1rem 1rem 1rem 0;
  }

  .social .icon span i {
    font-size: 1.9rem;
  }

  .social .icon .bubble {
    display: none;
  }

  .blue-item {
    font-size: 14px;
    padding-bottom: 16px;
  }

  .blue-item i {
    margin-left: -18px;
  }

  .blue-item:hover i {
    margin-left: 9px;
  }

  .network-item {
    font-size: 14px;
    padding-bottom: 16px;
    width: 16%;
  }

  .network-item .fa-brands {
    margin-right: 8px;
    font-size: 1rem;
  }

  .network-item .fa-solid {
    opacity: 0;
    margin-left: -20px;
  }

  .network-item:hover .fa-solid {
    opacity: 1;
    margin-left: 10px;
  }

  .ess-name {
    font-size: 13px;
  }

  .ess-charge {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
    margin-left: 2px;
  }


  .ov-container {
    padding-left: 8px;
  }

  .ov-container .ov-item a {
    font-size: 19px;
    padding: 22px 0;
  }

  .ov-container .ov-item i {
    margin-left: -19px;
  }

  .ov-container .ov-item:hover i {
    margin-left: 10px;
  }

  .ov-container .ov-list .ov-item ul li {
    padding: 0px 44px;
  }

  .overlayContainer {
    margin: 10px;
  }

  .btn-close {
    right: 19px;
    top: 19px;
  }

  .btn-close i {
    font-size: 34px;
  }

  .overlay {
    padding: 95px;
  }

  .overlay-title {
    padding: 15px 0px;
  }

  .name {
    font-size: 15px;
  }

  .charge {
    font-size: 12px;
    margin: -5px 0px 0px 0px;
  }

  .ytVideo {
    max-width: 950px;
    max-height: 535px;
  }

  .igVideo {
    max-width: 342px;
    max-height: 608px;
  }

  .videoInt {
    max-width: 550px;
    max-height: 550px;
  }


  #headEspecialidades {
    top: 95px;
  }

  .wrapperAcc {
    padding: 0 20px;
  }

  .wrapperAcc .parent-tab {
    margin-bottom: 8px;
  }

  .wrapperAcc .parent-tab label {
    padding: 0px;
    font-size: 1rem;
  }

  .wrapperAcc label span {
    font-size: 1rem;
  }

  .wrapperAcc label .icon {
    height: 28px;
    width: 28px;
    border-radius: 50%;
  }

  .wrapperAcc .parent-tab input:checked~label .icon i:before {
    padding-left: 15px;
    transition: padding-left translateX(15px);
  }

  .wrapperAcc .parent-tab .content p {
    font-size: .9rem;
    padding: 15px 19px 0px 19px;
  }

  .internal-title {
    padding: 38px 0px;
  }

  .line-title {
    padding-right: 1rem;
  }

  footer {
    padding: 1.35rem 0;
  }
}