@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
/* ------------------------------------------------------------- *
 *  Reset
/* ------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------------------------------- *
   *  General
  /* ------------------------------------------------------------- */
html,
body {
  overflow-x: hidden;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1D71B8;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #165992;
}

html {
  scroll-behavior: smooth;
  font-size: 0.9rem;
}

body {
  position: relative;
  background-color: #F1F1F1;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FFF;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.disabled {
  pointer-events: none;
}

/*-------HEADER-------*/
.header__logo {
  position: fixed;
  left: 32px;
  top: 32px;
  z-index: 5;
}

.logo__img {
  width: 60%;
}

/*-------WHATTSAPP-------*/
.whatsapp__logo {
  max-width: 80px;
  position: fixed;
  left: 32px;
  bottom: 32px;
  z-index: 5;
}

.whatsapp__img {
  width: 60%;
}

/* MainMenu */

.container-menu {
  position: absolute;
  width: 15%;
  top: 30px;
  right: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 30;
}

.cont-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  text-align: right;
  width: auto;
  transition: all 500ms ease;
  transform: translateX(100%);
  background-color: transparent;
  overflow-y: auto;
}

.icon-menu {
  position: absolute;
  right: 30px;
  top: 0;
  color: #FFF;
  cursor: pointer;
  z-index: 30;
}

.icon-menu i {
  font-size: 1.9rem;
}

.icon-close {
  position: absolute;
  right: 30px;
  top: 30px;
  color: #FFF;
  cursor: pointer;
}

.icon-close i {
  font-size: 2.25rem;
}

#btn-menu {
  display: none;
}

#btn-menu:checked~.container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu .icon-close.off {
  opacity: 0;
  visibility: hidden;
}

.btn-menu {
  position: fixed;
  right: 0;
  top: 32px;
  width: 30px;
  z-index: 500;
  transition: all 500ms ease;
}

.btn-menu.off {
  right: -60px;
}

#btn-menu:checked~.container-menu .cont-menu {
  transform: translateX(0%);
}

.close {
  z-index: 1500;
}

.btn-close {
  position: absolute;
  position: fixed;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 800;
  background: none;
  opacity: 1;
}

.btn-close i {
  font-size: 2.25rem;
  color: #FFF;
}

.cont-menu nav {
  transform: translateY(15%);
}

.main__menu {
  overflow: hidden;
  z-index: 1000;
}

.main-menu__item {
  list-style: none;
  padding: 30px;
}

.main-menu__link {
  font-size: 0.9rem;
  color: #FFF;
  font-weight: bold;
  display: block;
  text-decoration: none;
  transition: all 400ms ease;
}

.main-menu__link:hover {
  color: #cecece;
  transition: all 400ms ease;
}

/* ------------------------------------------------------------- *
 * Sections
/* ------------------------------------------------------------- */

section {
  position: relative;
}

/* ------------------------------------------------------------- *
 *  Intro Backgrounds
/* ------------------------------------------------------------- */

#intro-inicio {
  background-image: url(../media/bg_inicio.jpg);
}

#intro-ensayos {
  background-image: url(../media/bg_ensayos.jpg);
}

#intro-participar {
  background-image: url(../media/int_ensayos.jpg);
}

#intro-consultorios {
  background-image: url(../media/bg_consultorios.jpg);
}

#intro-estudios {
  background-image: url(../media/bg_estudios.jpg);
}

#intro-RSE {
  background-image: url(../media/bg_responsabilidad.jpg);
}

/* ------------------------------------------------------------- *
 *  Overlays
/* ------------------------------------------------------------- */

.overlayVideoContainer {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 700;
  cursor: pointer;
  margin: 0;
}

.overlayImgContainer {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 700;
  cursor: pointer;
  margin: 0;
}

#overlay-historia {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 700;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-testimonios {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 700;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-alianzas {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-equipo {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-certificado {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-politica {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-pfizer {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-gbaCEI {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

/* ------------------------------------------------------------- *
 *  Texts
/* ------------------------------------------------------------- */

/* Intro caption
================= */
.intro-caption {
  position: absolute;
  max-width: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #FFF;
  z-index: 3;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 10%;
  bottom: 10%;
  overflow: hidden;
}

/* intro title */
.intro-title {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

/* ------------------------------------------------------------- *
 *  Buttons
/* ------------------------------------------------------------- */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  cursor: pointer;
  padding: 4px 20px;
  margin: 4px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #FFF;
}

.button:hover {
  outline: none;
}

.button a {
  color: #FFF;
  text-decoration: none;
}

.button i {
  transition: all 500ms ease-in-out;
  opacity: 0;
  margin-left: -14px;
}

.button:hover i {
  opacity: 1;
  margin-left: 14px;
}

.btnGost {
  display: block;
  padding: 4px;
  margin: 4px;
  background-color: transparent;
}

.containerBTN {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* ------------------------------------------------------------- *
 *  anchors
/* ------------------------------------------------------------- */
.link-list {
  display: block;
  margin-left: 0;
  list-style: none;
  width: 100%;
}

.link-item {
  display: block;
  color: #FFF;
  text-align: left;
  text-decoration: none;
  padding-bottom: 1rem;
  cursor: pointer;
}

.link-item i {
  color: #FFF;
  transition: all 500ms ease-in-out;
  opacity: 0;
  margin-left: -10px;
}

.link-item:hover i {
  opacity: 1;
  margin-left: 10px;
}

/** accordion main**/

#accordion {
  max-width: 60%;
  overflow: hidden;
}

#accordion .accGroup {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px
}

#accordion .accGroup label {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #FFF;
}

#accordion label+input[type="radio"] {
  display: none;
}

#accordion .content {
  margin: 5px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#accordion label+input[type="radio"]:checked+.content {
  max-height: 25em;
}

#accordion label+input[name="rse"]:checked+.content {
  max-height: 25em;
}

/* ------------------------------------------------------------- *
 *  internal CSS
/* ------------------------------------------------------------- */
#secondary {
  color: #1D71B8;
}

#secondary .cont-menu {
  background-image: linear-gradient(to right, rgba(241, 241, 241, 0), rgba(241, 241, 241, 1));
}

#secondary .main-menu__link {
  font-weight: 600;
}

/** accordion internal**/

#acco-int {
  max-width: 60%;
  overflow: hidden;
  margin: 2% auto;
}

#acco-int .accGroup2 {
  width: 100%;
  margin-bottom: 1%;
  padding: 1%
}

#acco-int .accGroup2 label {
  padding: 5px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  cursor: pointer;
  color: #1D71B8;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #1D71B8;
}

#acco-int label+input[type="radio"] {
  display: none;
}

#acco-int .content {
  margin: 5px 10px;
  max-height: 25;
  overflow: hidden;
  transition: max-height 0.5s;
  text-align: left;
}

#acco-int label+input[type="radio"]:checked+.content {
  max-height: 25em;
}

#acco-int label+input[name="rse"]:checked+.content {
  max-height: 25em;
}

.blue-list {
  color: #1D71B8;
  display: block;
  margin-left: 0;
  list-style: none;
}

.blue-item {
  color: #1D71B8;
  text-align: left;
  text-decoration: none;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
}

.blue-item .fa-brands {
  color: #1D71B8;
  margin-right: 8px;
}

.blue-item .fa-solid {
  color: #1D71B8;
  transition: all 500ms ease-in-out;
  opacity: 0;
  margin-left: -20px;
}

.blue-item:hover .fa-solid {
  opacity: 1;
  margin-left: 10px;
}

.blue-link {
  color: #1D71B8;
  font-weight: bold;
}

.blue-link:hover {
  color: #1D71B8;
  font-weight: bold;
}

.blue-link:focus {
  color: #1D71B8;
  font-weight: bold;
}

.network-item {
  color: #1D71B8;
  text-align: left;
  text-decoration: none;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  width: max-content;
  margin: 10px auto;
  align-items: center;
  justify-content: center;

}

.network-item .fa-brands {
  color: #1D71B8;
  margin-right: 8px;
  font-size: 1.5rem;
}

.network-item .fa-solid {
  color: #1D71B8;
  transition: all 500ms ease-in-out;
  opacity: 0;
  margin-left: -20px;
}

.network-item:hover .fa-solid {
  opacity: 1;
  margin-left: 10px;
}

.containerEssentia {
  width: max-content;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
}

.ess-name {
  color: #1D71B8;
  font-weight: bold;
  margin-bottom: 0;
}

.ess-charge {
  color: #1D71B8;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 0 1rem 0;
  margin-left: 20px;
  text-align: left;
}

/* ------------------------------------------------------------- *
 *  overlay links [ov]
/* ------------------------------------------------------------- */

.smenu {
  overflow: hidden;
  overflow-y: auto;
  transition: max-height 0.3s;
  max-height: 0;
}

.smenu li {
  display: block;
  position: relative;
  border-left: 1px solid tomato;
  height: 100%;
  margin-left: .5rem;
  padding-left: 40px;
}

.smenu li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.smenu li:hover::before {
  opacity: 1;
}

/* .show {
  max-height: 25em;
} */

.srfc-item {
  list-style: none;
  overflow: hidden;
}


.name {
  color: #FFF;
  padding: 0;
  margin: 0 0 0.1rem 0;
}

.charge {
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 200;
  margin: 0;
  padding: 0 0 0.25rem 0;
}



/* .overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 100px;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  z-index: 600;
} */

.overlay-img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 600;
}

.overlay-img img {
  height: 90%;
  width: 90%;
}

.overlay-video {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 600;
}

.overlay-caption {
  background-color: rgb(29, 113, 184);
}

.overlay-title {
  padding: 16px 0px;
}

/* Start: Video Responsive */

.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.imgInt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
}

.imgVInt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 90%;
}

.ytVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 563px;
}

.igVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 360px;
  height: 100%;
  max-height: 640px;
}

.videoInt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
}

/* ------------------------------------------------------------- *
 * Internals
/* ------------------------------------------------------------- */

/** Backgrounds **/
#nosotros {
  background-image: url(../media/int_nosotros.jpg);
}

#especialidades {
  background-image: url(../media/int_investigacion.jpg);
}

#ensayos {
  background-image: url(../media/int_ensayos.jpg);
}

#sponsors {
  background-image: url(../media/int_sponsors.jpg);
}

#testimonio {
  background-image: url(../media/int_testimonio.jpg);
}

#metabolismo {
  background-image: url(../media/int_essentia.jpg);
}

#calidad {
  background-image: url(../media/int_calidad.jpg);
}

#essentia {
  background-image: url(../media/int_equipoEssentia.jpg);
}

#accWhite {
  color: #FFF;
}

/** texts **/

.internal-caption {
  width: 80%;
  margin: 0 auto;
  position: relative;
  color: #1D71B8;
  text-align: center;
  padding-bottom: 10%;
}

.internal-title {
  color: #1D71B8;
  margin: 0;
  text-shadow: none;
  padding: 20px 0px;
}

.internal-subtitle {
  margin: 5px 0 0 0;
  text-shadow: none;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.line-subtitle {
  margin: 20px 0 0 0;
  text-shadow: none;
}

.line-description {
  width: 70%;
  text-align: left;
  color: #58595B;
}

.line-internal {
  width: 100%;
  text-align: left;
  color: #58595B;
}

.line-description img {
  padding: 0 0 1rem 0;
  max-width: 50%;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  padding-left: 35%;
  align-content: center;
}

.address i {
  width: 32px;
  margin-top: 0;
}

.social {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: auto;
}

.social .icon {
  position: relative;
  margin: 2rem 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
}

.social .icon span {
  position: relative;
  text-align: center;
  z-index: 4;
}

.social .icon span i {
  font-size: 2rem;
}

.social .icon .bubble {
  position: absolute;
  background: #1D71B8;
  color: #FFF;
  padding: 10px 18px;
  font-size: 0.75rem;
  border-radius: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .icon:hover .bubble {
  top: -50px;
  opacity: 1;
  pointer-events: auto;
}

.social .icon .bubble::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  background: #1D71B8;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 1.5rem 0;
  bottom: 0;
  background-color: #5C768D;
  width: 100%;
  color: #FFF;
  flex-wrap: nowrap;
  justify-content: center;
}

footer p {
  margin-bottom: 0;
}

#headsponsors {
  top: 60px;
}

.internal-title {
  padding: 30px 0px;
}