@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
/* ------------------------------------------------------------- *
 *  Reset
/* ------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------------------------------- *
   *  General
  /* ------------------------------------------------------------- */
html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #F1F1F1;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FFF;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.disabled {
  pointer-events: none;
}

/*-------HEADER-------*/
.header__logo {
  position: fixed;
  left: 32px;
  top: 32px;
  z-index: 5;
}

.logo__img {
  width: 60%;
}

/*-------WHATTSAPP-------*/
.whatsapp__logo {
  max-width: 80px;
  position: fixed;
  left: 32px;
  bottom: 32px;
  z-index: 5;
}

.whatsapp__img {
  width: 100%;
}

/* Menu */

.icon-menu {
  position: absolute;
  right: 32px;
  top: 0;
  color: #FFF;
  cursor: pointer;
  z-index: 30;
}

.icon-menu i {
  font-size: 30px;
}

.icon-close {
  position: absolute;
  right: 32px;
  top: 32px;
  color: #FFF;
  cursor: pointer;
}

.icon-close i {
  font-size: 34px;
}

#btn-menu {
  display: none;
}

.container-menu {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 32px;
  right: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 30;
}

#btn-menu:checked~.container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  text-align: right;
  width: auto;
  transition: all 500ms ease;
  transform: translateX(100%);
  background-color: transparent;
  overflow-y: auto;
}

.cont-menu .icon-close.off {
  opacity: 0;
  visibility: hidden;
}

.btn-menu {
  position: fixed;
  right: 0;
  top: 32px;
  width: 30px;
  z-index: 500;
  transition: all 500ms ease;
}

.btn-menu.off {
  right: -60px;
}

.cont-menu nav {
  transform: translateY(15%);
}

#btn-menu:checked~.container-menu .cont-menu {
  transform: translateX(0%);
}

.main__menu {
  overflow: hidden;
}

.main-menu__item {
  list-style: none;
  padding: 24px;
}

.main-menu__link {
  color: #FFF;
  font-weight: normal;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  transition: all 400ms ease;
}

.main-menu__link:hover {
  color: #cecece;
  transition: all 400ms ease;
}

#secondary {
  color: #1D71B8;
}

#secondary .cont-menu {
  background-image: linear-gradient(to right, rgba(241, 241, 241, 0), rgba(241, 241, 241, 1));
}

#secondary .main-menu__link {
  font-weight: 600;
}

/* ------------------------------------------------------------- *
 * Sections
/* ------------------------------------------------------------- */

section {
  position: relative;
}

/* ------------------------------------------------------------- *
 *  Intro Backgrounds
/* ------------------------------------------------------------- */

#intro-inicio {
  background-image: url(../media/bg_inicio.jpg);
}

#intro-ensayos {
  background-image: url(../media/bg_ensayos.jpg);
}

#intro-consultorios {
  background-image: url(../media/bg_consultorios.jpg);
}

#intro-estudios {
  background-image: url(../media/bg_estudios.jpg);
}

#intro-RSE {
  background-image: url(../media/bg_responsabilidad.jpg);
}

/* ------------------------------------------------------------- *
 *  Texts
/* ------------------------------------------------------------- */

/* Intro Main
================= */
.intro-main {
  max-width: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #FFF;
  z-index: 3;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  left: 10%;
  bottom: 10%;
  overflow: hidden;
}

/* Intro caption
================= */
.intro-caption {
  max-width: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #FFF;
  z-index: 3;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  left: 10%;
  bottom: 10%;
  overflow: hidden;
}

/* intro title */
.intro-title {
  margin: 0;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

/* intro subtitle */
.intro-subtitle {
  margin: 15px 0 0 0;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

/* intro description */
.intro-description {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* intro large */
.large-description {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: auto;
}

/* subtitle2 */
.subtitle {
  margin-bottom: 0;
  padding-bottom: 5px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

/* ------------------------------------------------------------- *
 *  Buttons
/* ------------------------------------------------------------- */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  z-index: 900;
  cursor: pointer;
  padding: 8px 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid #FFF;
}

.button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #FFF;
  border-color: #FFF;
}

.button a {
  color: #FFF;
  text-decoration: none;
}

.button i {
  transition: all 500ms ease-in-out;
  opacity: 0;
  margin-left: -14px;
}

.button:hover i {
  opacity: 1;
  margin-left: 14px;
}

.containerBTN {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerEssentia {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* ------------------------------------------------------------- *
 *  anchors
/* ------------------------------------------------------------- */
.link-list {
  display: block;
  margin-left: 0;
  list-style: none;
  width: 100%;
}

.link-item {
  display: block;
  color: #FFF;
  font-size: 14.4px;
  text-align: left;
  text-decoration: none;
  padding-bottom: 16px;
  cursor: pointer;
}

.link-item i {
  color: #FFF;
  transition: all 500ms ease-in-out;
  opacity: 0;
  margin-left: -20px;
}

.link-item:hover i {
  opacity: 1;
  margin-left: 10px;
}

.swf {
  margin: 0 10px 0 -30px;
}

.address i {
  width: 24px;
  margin-top: 0;
}

/* ------------------------------------------------------------- *
 *  blue anchors
/* ------------------------------------------------------------- */
.blue-list {
  color: #1D71B8;
  display: block;
  margin-left: 0;
  list-style: none;
}

.blue-item {
  color: #1D71B8;
  font-size: 14.4px;
  text-align: left;
  text-decoration: none;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
}

.blue-item .fa-brands {
  color: #1D71B8;
  margin-right: 8px;
}

.blue-item .fa-solid {
  color: #1D71B8;
  transition: all 500ms ease-in-out;
  opacity: 0;
  margin-left: -20px;
}

.blue-item:hover .fa-solid {
  opacity: 1;
  margin-left: 10px;
}

.blue-link {
  color: #1D71B8;
  font-weight: bold;
}

.blue-link:hover {
  color: #1D71B8;
  font-weight: bold;
}

.blue-link:focus {
  color: #1D71B8;
  font-weight: bold;
}

.network-item {
  color: #1D71B8;
  font-size: 14.4px;
  text-align: left;
  text-decoration: none;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  width: 15%;
  margin: -10px auto 30px;
  align-items: center;
}

.network-item .fa-brands {
  color: #1D71B8;
  margin-right: 8px;
  font-size: 1.5rem;
}

.network-item .fa-solid {
  color: #1D71B8;
  transition: all 500ms ease-in-out;
  opacity: 0;
  margin-left: -20px;
}

.network-item:hover .fa-solid {
  opacity: 1;
  margin-left: 10px;
}

.ess-name {
  color: #1D71B8;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.ess-charge {
  color: #1D71B8;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 0 1rem 0;
  margin-left: 20px;
}

/* ------------------------------------------------------------- *
 *  overlay links [ov]
/* ------------------------------------------------------------- */

.ov-container {
  width: 100%;
  display: inline-block;
  padding-left: 10px;
}

.ov-container .ov-item a {
  list-style: none;
  color: #FFF;
  font-size: 1.35rem;
  line-height: 2.5;
  text-align: left;
  text-decoration: none;
  margin-bottom: -0.625rem;
  padding: 0rem;
  display: inline-block;
}

.ov-container .ov-item i {
  color: #FFF;
  transition: all 500ms ease-in-out;
  opacity: 0;
  margin-left: -1.25rem;
}

.ov-container .ov-item:hover i {
  opacity: 1;
  margin-left: 0.625rem;
}

.ov-item {
  list-style: none;
  overflow: hidden;
}

.btnLi {
  display: block;
  position: relative;
}

.btnLi::before {
  content: "";
  position: absolute;
}

.smenu {
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.show {
  max-height: 25em;
}

.smenu li {
  display: block;
  position: relative;
  border-left: 1px solid #FFF;
  height: 100%;
  margin-left: .5rem;
  padding-left: 40px;
}

.smenu li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.smenu li:hover::before {
  opacity: 1;
}

.name {
  color: #FFF;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.charge {
  color: #FFF;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0;
  padding: 0 0 .5rem 0;
}

/** Overlays **/
.overlayContainer {
  display: none;
  background-color: rgb(29, 113, 184);
  z-index: 700;
  cursor: pointer;
  margin: 10px;
}

.overlayVideoContainer {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 700;
  cursor: pointer;
  margin: 0;
}

.overlayImgContainer {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 700;
  cursor: pointer;
  margin: 0.625rem;
}

#overlay-estudios {
  display: none;
  /* Hidden by default */
  background-color: rgb(29, 113, 184);
  /* Black background with opacity */
  z-index: 700;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0.625rem;
}

#overlay-ooss {
  display: none;
  /* Hidden by default */
  background-color: rgb(29, 113, 184);
  /* Black background with opacity */
  z-index: 700;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0.625rem;
}

#overlay-consultorios {
  display: none;
  /* Hidden by default */
  background-color: rgb(29, 113, 184);
  /* Black background with opacity */
  z-index: 700;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0.625rem;
}

#overlay-obrasSociales {
  display: none;
  /* Hidden by default */
  background-color: rgb(29, 113, 184);
  /* Black background with opacity */
  z-index: 700;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0.625rem;
}

#overlay-especialidades {
  display: none;
  /* Hidden by default */
  background-color: rgb(29, 113, 184);
  /* Black background with opacity */
  z-index: 700;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0.625rem;
}

#overlay-sponsors {
  display: none;
  /* Hidden by default */
  background-color: rgb(29, 113, 184);
  /* Black background with opacity */
  z-index: 700;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0.625rem;
}

#overlay-historia {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 700;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-testimonios {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 700;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-alianzas {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-equipo {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-certificado {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-politica {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-pfizer {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

#overlay-gbaCEI {
  display: none;
  /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 770;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  margin: 0;
}

.close {
  z-index: 1500;
}

.btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
  z-index: 800;
  background: none;
  opacity: 1;
}

.btn-close i {
  font-size: 36px;
  color: #FFF;
}

.overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 100px;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  z-index: 600;
}

.overlay-img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 600;
}

.overlay-img img {
  height: 90%;
  width: 90%;
}

.overlay-video {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 600;
}

.overlay-caption {
  position: absolute;
  color: #FFF;
  z-index: 3;
}

.overlay-title {
  padding: 16px 0px;
}

/* Start: Video Responsive */

.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.imgInt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
}

.imgVInt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 90%;
}

.ytVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 563px;
}

.igVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 360px;
  height: 100%;
  max-height: 640px;
}

.videoInt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
}

/* ------------------------------------------------------------- *
 * Internals
/* ------------------------------------------------------------- */

/** Backgrounds **/
#nosotros {
  background-image: url(../media/int_nosotros.jpg);
}

#especialidades {
  background-image: url(../media/int_investigacion.jpg);
}

/* #headEspecialidades {
  background-image: url(../media/int_banner.jpg);
  top: 100px;
  overflow: hidden;
} */

#sponsors {
  background-image: url(../media/int_sponsors.jpg);
}

#testimonio {
  background-image: url(../media/int_testimonio.jpg);
}

#metabolismo {
  background-image: url(../media/int_essentia.jpg);
}

#calidad {
  background-image: url(../media/int_calidad.jpg);
}

#essentia {
  background-image: url(../media/int_equipoEssentia.jpg);
}

/** accordion blue**/

.accordionContent {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1500;
}

.wrapperAcc {
  max-width: 800px;
  padding: 0 20px;
  overflow: hidden;
}

.wrapperAcc .parent-tab {
  margin-bottom: 8px;
}

.wrapperAcc .parent-tab label {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  color: #1D71B8;
  position: relative;
  z-index: 99;
  border-bottom: 1px solid #1D71B8;
}

.wrapperAcc label span {
  font-size: 1.1rem;
}

.wrapperAcc label .icon {
  position: relative;
  height: 30px;
  width: 30px;
  color: #1D71B8;
  display: block;
  border-radius: 50%;
}

.wrapperAcc .parent-tab input:checked~label .icon i:before {
  content: " \f178";
  padding-left: 16px;
  transition: padding-left translateX(16px);
}

.wrapperAcc label .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapperAcc .parent-tab .content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease;
}

.parent-tab input:checked~.content {
  max-height: 100vh;
}

.wrapperAcc .parent-tab .content p {
  font-size: 1rem;
  padding: 16px 20px 0px 20px;
  color: #58595B;
  text-align: left;
}

.wrapperAcc input {
  display: none;
}

#accWhite {
  color: #FFF;
}

#accWhite label {
  border-bottom: 1px solid #FFF;
}


/** texts **/

.internal-caption {
  position: relative;
  color: #1D71B8;
  z-index: 3;
  text-align: center;
  overflow: hidden;
}

.internal-title {
  color: #1D71B8;
  margin: 0;
  text-shadow: none;
  padding: 40px 0px;
}

.internal-subtitle {
  margin: 5px 0 0 0;
  text-shadow: none;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lineStart {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.line-title {
  color: #1D71B8;
  text-shadow: none;
  padding-right: 1rem;
  text-align: center;
  font-weight: 600;
}

.line-subtitle {
  margin: 20px 0 0 0;
  text-shadow: none;
}

.line-description {
  width: 70%;
  text-align: left;
  color: #58595B;
}

.line-internal {
  width: 100%;
  text-align: left;
  color: #58595B;
}

.line-description img {
  padding: 0 0 1rem 0;
  max-width: 50%;
}

.address i {
  width: 24px;
  margin-top: 0;
  margin-right: 6px;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  padding-left: 40%;
  align-content: center;
}

.social {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: auto;
}

.social .icon {
  position: relative;
  margin: 2rem 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
}

.social .icon span {
  position: relative;
  text-align: center;
  z-index: 4;
}

.social .icon span i {
  font-size: 2rem;
}

.social .icon .bubble {
  position: absolute;
  background: #1D71B8;
  color: #FFF;
  padding: 10px 18px;
  font-size: 0.75rem;
  border-radius: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .icon:hover .bubble {
  top: -50px;
  opacity: 1;
  pointer-events: auto;
}

.social .icon .bubble::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  background: #1D71B8;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.swf {
  margin: 0 10px 0 -30px;
}


footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 1.5rem 0;
  bottom: 0;
  background-color: #5C768D;
  width: 100%;
  color: #FFF;
  flex-wrap: nowrap;
  justify-content: center;
}

footer p {
  margin-bottom: 0;
}

/* ------------------------------------------------------------- *
   *  Media Queries
/* ------------------------------------------------------------- */

/* Small devices */
@media screen and (max-width: 576px) {
  .header__logo {
    left: 20px;
    top: 20px;
  }

  .whatsapp__logo {
    max-width: 40px;
    left: 20px;
    bottom: 20px;
  }


  .logo__img {
    width: 50%;
  }

  .icon-menu {
    right: 20px;
  }

  .icon-menu i {
    font-size: 1.25rem;
  }

  .icon-close {
    right: 20px;
    top: 20px;
  }

  .icon-close i {
    font-size: 1.5rem;
  }

  .container-menu {
    top: 20px;
  }

  .cont-menu {
    width: auto;
    background-color: #1D71B8;
    overflow-y: auto;
  }

  #secondary {
    color: #FFF;
  }

  #secondary .cont-menu {
    background: #1D71B8;
  }

  .btn-menu {
    top: 20px;
    width: 20px;
  }

  .main-menu__item {
    padding: 18px;
  }

  .main-menu__link {
    font-size: 12px;
  }

  .intro-caption {
    max-width: 80%;
    left: 5%;
    bottom: 10%;
  }

  .intro-description {
    font-size: 0.7rem;
    line-height: 1;
  }

  /* intro large */
  .large-description {
    font-size: 0.65rem;
    line-height: 0.8;
  }

  .large-description p {
    margin-bottom: auto;
  }

  .button {
    padding: 4px 20px;
    border-radius: 20px;
    border: 1px solid #FFF;
  }

  .button i {
    margin-left: -10px;
  }

  .button:hover i {
    margin-left: 10px;
  }

  .containerBTN {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .containerEssentia {
    padding: 10px;
    flex-direction: column;
  }

  .link-item {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .link-item i {
    margin-left: -14px;
  }

  .link-item:hover i {
    margin-left: 8px;
  }

  .swf {
    margin: 0 8px 0 -12px;
  }

  .address i {
    width: 16px;
  }

  .addressContainer {
    padding-left: 15%;
  }

  .social .icon {
    margin: 1rem 1rem 1rem 0;
  }

  .social .icon span i {
    font-size: 1.5rem;
  }

  .social .icon .bubble {
    display: none;
  }

  .blue-item {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .blue-item i {
    margin-left: -14px;
  }

  .blue-item:hover i {
    margin-left: 8px;
  }

  .network-item {
    font-size: 10px;
    padding-bottom: 10px;
    width: 31%;
    margin: -10px auto 30px;
  }

  .network-item .fa-brands {
    margin-right: 8px;
    font-size: 1rem;
  }

  .network-item .fa-solid {
    opacity: 0;
    margin-left: -20px;
  }

  .network-item:hover .fa-solid {
    opacity: 1;
    margin-left: 10px;
  }

  .ess-name {
    font-size: 0.625rem;
  }

  .ess-charge {
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 0 0.625rem 0;
    margin-left: 2px;
  }

  .ov-container {
    padding-left: 6px;
  }

  .ov-container .ov-item a {
    font-size: 0.875rem;
    padding: 16px 0;
  }

  .ov-container .ov-item i {
    margin-left: -0.875rem;
  }

  .ov-container .ov-item:hover i {
    margin-left: 10px;
  }

  .ov-container .ov-list .ov-item ul li {
    padding: 0px 36px;
  }

  .overlayContainer {
    margin: 10px;
  }

  .btn-close {
    right: 14px;
    top: 14px;
  }

  .btn-close i {
    font-size: 26px;
  }

  .overlay {
    padding: 50px;
    overflow-y: auto;
  }

  .overlay-title {
    padding: 10px 0px;
  }

  .name {
    font-size: 10px;
  }

  .charge {
    font-size: 9px;
    margin: -5px 0px 0px 0px;
  }

  .ytVideo {
    max-width: 693px;
    max-height: 390px;
  }

  .igVideo {
    max-width: 250px;
    max-height: 440px;
  }

  .videoInt {
    max-width: 350px;
    max-height: 350px;
  }

  #headEspecialidades {
    top: 60px;
  }

  .wrapperAcc {
    padding: 0 14px;
  }

  .wrapperAcc .parent-tab {
    margin-bottom: 6px;
  }

  .wrapperAcc .parent-tab label {
    padding: 4px 14px;
    font-size: 0.75rem;
  }

  .wrapperAcc label span {
    font-size: 0.75rem;
  }

  .wrapperAcc label .icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  .wrapperAcc .parent-tab input:checked~label .icon i:before {
    padding-left: 10px;
    transition: padding-left translateX(10px);
  }

  .wrapperAcc .parent-tab .content p {
    font-size: 0.75rem;
    padding: 10px 10px 0px 10px;
  }

  .internal-title {
    padding: 30px 0px;
  }

  .line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
  }

  .lineStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .line-title {
    padding-right: 0.75rem;
  }

  footer {
    padding: 1rem 0;
  }

}

#headsponsors {
  top: 60px;
}

.wrapperAcc {
  padding: 0 14px;
}

.wrapperAcc .parent-tab {
  margin-bottom: 6px;
}

.wrapperAcc .parent-tab label {
  padding: 4px 14px;
  font-size: 0.75rem;
}

.wrapperAcc label span {
  font-size: 0.75rem;
}

.wrapperAcc label .icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.wrapperAcc .parent-tab input:checked~label .icon i:before {
  padding-left: 10px;
  transition: padding-left translateX(10px);
}

.wrapperAcc .parent-tab .content p {
  font-size: 0.75rem;
  padding: 10px 10px 0px 10px;
}

.internal-title {
  padding: 30px 0px;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}

.lineStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.line-title {
  padding-right: 0.75rem;
}

footer {
  padding: 1rem 0;
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header__logo {
    left: 26px;
    top: 26px;
  }

  .whatsapp__logo {
    max-width: 50px;
    left: 26px;
    bottom: 26px;
  }

  .logo__img {
    width: 52%;
  }

  .icon-menu {
    right: 26px;
  }

  .icon-menu i {
    font-size: 26px;
  }

  .icon-close {
    right: 26px;
    top: 26px;
  }

  .icon-close i {
    font-size: 1.625rem;
  }

  .container-menu {
    top: 26px;
  }

  .cont-menu {
    width: auto;
    background-color: #1D71B8;
    overflow-y: auto;
  }

  #secondary {
    color: #FFF;
  }

  #secondary .cont-menu {
    background: #1D71B8;
  }

  .btn-menu {
    top: 26px;
    width: 26px;
  }

  .main-menu__item {
    padding: 20px;
  }

  .main-menu__link {
    font-size: 13px;
  }

  .intro-caption {
    max-width: 70%;
    left: 10%;
    bottom: 10%;
  }

  .intro-description {
    font-size: 0.75rem;
    line-height: 1.2;
  }

  /* intro large */
  .large-description {
    font-size: 0.75rem;
    line-height: 0.95;
  }

  .large-description p {
    margin-bottom: auto;
  }

  .button {
    padding: 4px 24px;
    border-radius: 22px;
    border: 1px solid #FFF;
  }

  .button i {
    margin-left: -10px;
  }

  .button:hover i {
    margin-left: 10px;
  }

  .containerBTN {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .containerEssentia {
    padding: 15px;
    flex-direction: column;
  }

  .link-item {
    font-size: 12px;
    padding-bottom: 12px;
  }

  .link-item i {
    margin-left: -16px;
  }

  .link-item:hover i {
    margin-left: 8px;
  }

  .swf {
    margin: 0 8px 0 -12px;
  }

  .address i {
    width: 18px;
  }

  .addressContainer {
    padding-left: 25%;
  }

  .social .icon {
    margin: 1rem 1rem 1rem 0;
  }

  .social .icon span i {
    font-size: 1.6rem;
  }

  .social .icon .bubble {
    display: none;
  }

  .blue-item {
    font-size: 12px;
    padding-bottom: 14px;
  }

  .blue-item i {
    margin-left: -16px;
  }

  .blue-item:hover i {
    margin-left: 8px;
  }

  .network-item {
    font-size: 12px;
    padding-bottom: 14px;
    width: 25%;
  }

  .network-item .fa-brands {
    margin-right: 8px;
    font-size: 1rem;
  }

  .network-item .fa-solid {
    opacity: 0;
    margin-left: -20px;
  }

  .network-item:hover .fa-solid {
    opacity: 1;
    margin-left: 10px;
  }

  .ess-name {
    font-size: 11px;
  }

  .ess-charge {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
    margin-left: 2px;
  }

  .ov-container {
    padding-left: 6px;
  }

  .ov-container .ov-item a {
    font-size: 1rem;
    padding: 18px 0;
  }

  .ov-container .ov-item i {
    margin-left: -16px;
  }

  .ov-container .ov-item:hover i {
    margin-left: 10px;
  }

  .ov-container .ov-list .ov-item ul li {
    padding: 0px 38px;
  }

  .overlayContainer {
    margin: 10px;
  }

  .btn-close {
    right: 16px;
    top: 16px;
  }

  .btn-close i {
    font-size: 30px;
  }

  .overlay {
    padding: 60px;
    overflow-y: auto;
  }

  .overlay-title {
    padding: 12px 0px;
  }

  .name {
    font-size: 12px;
  }

  .charge {
    font-size: 10px;
    margin: -5px 0px 0px 0px;
  }

  .ytVideo {
    max-width: 770px;
    max-height: 434px;
  }

  .igVideo {
    max-width: 277px;
    max-height: 490px;
  }

  .videoInt {
    max-width: 420px;
    max-height: 420px;
  }

  #headEspecialidades {
    top: 80px;
  }

  .wrapperAcc {
    padding: 0 16px;
  }

  .wrapperAcc .parent-tab {
    margin-bottom: 8px;
  }

  .wrapperAcc .parent-tab label {
    padding: 6px 16px;
    font-size: 0.8rem;
  }

  .wrapperAcc label span {
    font-size: 0.8rem;
  }

  .wrapperAcc label .icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }

  .wrapperAcc .parent-tab input:checked~label .icon i:before {
    padding-left: 12px;
    transition: padding-left translateX(12px);
  }

  .wrapperAcc .parent-tab .content p {
    font-size: 0.8rem;
    padding: 12px 16px 0px 16px;
  }

  .internal-title {
    padding: 34px 0px;
  }

  .line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
  }

  .lineStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .line-title {
    padding-right: 0.8rem;
  }

  footer {
    padding: 1.2rem 0;
  }
}

/* Medium devices (landscape, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header__logo {
    left: 28px;
    top: 28px;
  }

  .whatsapp__logo {
    max-width: 60px;
    left: 28px;
    bottom: 28px;
  }

  .logo__img {
    width: 55%;
  }

  .icon-menu {
    right: 28px;
  }

  .icon-menu i {
    font-size: 28px;
  }

  .icon-close {
    right: 28px;
    top: 28px;
  }

  .icon-close i {
    font-size: 1.8rem;
  }

  .container-menu {
    top: 28px;
  }

  .cont-menu {
    width: auto;
    background-color: #1D71B8;
    overflow-y: auto;
  }

  #secondary {
    color: #FFF;
  }

  #secondary .cont-menu {
    background: #1D71B8;
  }

  .btn-menu {
    top: 28px;
    width: 28px;
  }

  .main-menu__item {
    padding: 21px;
  }

  .main-menu__link {
    font-size: 14px;
  }

  .intro-caption {
    max-width: 70%;
    left: 10%;
    bottom: 10%;
  }

  .intro-description {
    font-size: 0.8rem;
    line-height: 1.3;
  }

  /* intro large */
  .large-description {
    font-size: 0.8rem;
    line-height: 1;
  }

  .large-description p {
    margin-bottom: auto;
  }

  .button {
    padding: 5px 26px;
    border-radius: 23px;
    border: 1px solid #FFF;
  }

  .button i {
    margin-left: -12px;
  }

  .button:hover i {
    margin-left: 12px;
  }

  .containerBTN {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .containerEssentia {
    padding: 20px;
    flex-direction: column;
  }

  .link-item {
    font-size: 13px;
    padding-bottom: 14px;
  }

  .link-item i {
    margin-left: -17px;
  }

  .link-item:hover i {
    margin-left: 9px;
  }

  .swf {
    margin: 0 9px 0 -14px;
  }

  .address i {
    width: 20px;
  }

  .addressContainer {
    padding-left: 30%;
  }

  .social .icon {
    margin: 1rem 1rem 1rem 0;
  }

  .social .icon span i {
    font-size: 1.75rem;
  }

  .social .icon .bubble {
    display: none;
  }

  .blue-item {
    font-size: 13px;
    padding-bottom: 15px;
  }

  .blue-item i {
    margin-left: -17px;
  }

  .blue-item:hover i {
    margin-left: 8px;
  }

  .network-item {
    font-size: 13px;
    padding-bottom: 15px;
    width: 25%;
  }

  .network-item .fa-brands {
    margin-right: 8px;
    font-size: 1rem;
  }

  .network-item .fa-solid {
    opacity: 0;
    margin-left: -20px;
  }

  .network-item:hover .fa-solid {
    opacity: 1;
    margin-left: 10px;
  }

  .ess-name {
    font-size: 12px;
  }

  .ess-charge {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
    margin-left: 2px;
  }

  .ov-container {
    padding-left: 7px;
  }

  .ov-container .ov-item a {
    font-size: 18px;
    padding: 20px 0;
  }

  .ov-container .ov-item i {
    margin-left: -17px;
  }

  .ov-container .ov-item:hover i {
    margin-left: 10px;
  }

  .ov-container .ov-list .ov-item ul li {
    padding: 0px 42px;
  }

  .overlayContainer {
    margin: 10px;
  }

  .btn-close {
    right: 18px;
    top: 18px;
  }

  .btn-close i {
    font-size: 32px;
  }

  .overlay {
    padding: 70px;
    overflow-y: auto;
  }

  .overlay-title {
    padding: 14px 0px;
  }

  .name {
    font-size: 13px;
  }

  .charge {
    font-size: 10px;
    margin: -5px 0px 0px 0px;
  }

  .ytVideo {
    max-width: 855px;
    max-height: 482px;
  }

  .igVideo {
    max-width: 308px;
    max-height: 547px;
  }

  .videoInt {
    max-width: 475px;
    max-height: 475px;
  }


  #headEspecialidades {
    top: 90px;
  }

  .wrapperAcc {
    padding: 0 18px;
  }

  .wrapperAcc .parent-tab {
    margin-bottom: 8px;
  }

  .wrapperAcc .parent-tab label {
    padding: 8px 18px;
    font-size: 0.9rem;
  }

  .wrapperAcc label span {
    font-size: 0.9rem;
  }

  .wrapperAcc label .icon {
    height: 26px;
    width: 26px;
    border-radius: 50%;
  }

  .wrapperAcc .parent-tab input:checked~label .icon i:before {
    padding-left: 13px;
    transition: padding-left translateX(13px);
  }

  .wrapperAcc .parent-tab .content p {
    font-size: .9rem;
    padding: 14px 18px 0px 18px;
  }

  .internal-title {
    padding: 36px 0px;
  }

  .line-title {
    padding-right: 0.9rem;
  }

  footer {
    padding: 1.3rem 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header__logo {
    left: 29px;
    top: 29px;
  }

  .whatsapp__logo {
    max-width: 70px;
    left: 29px;
    bottom: 29px;
  }

  .logo__img {
    width: 58%;
  }

  .icon-menu {
    right: 29px;
  }

  .icon-menu i {
    font-size: 28.8px;
  }

  .icon-close {
    right: 29px;
    top: 29px;
  }

  .icon-close i {
    font-size: 2rem;
  }

  .container-menu {
    top: 29px;
  }

  .cont-menu {
    max-width: auto;
    overflow-y: auto;
  }

  #secondary {
    color: #FFF;
  }

  #secondary .cont-menu {
    background: #1D71B8;
  }

  .btn-menu {
    top: 29px;
    width: 29px;
  }

  .main-menu__item {
    padding: 22px;
  }

  .main-menu__link {
    font-size: 15px;
  }

  .intro-caption {
    max-width: 70%;
    left: 10%;
    bottom: 10%;
  }

  .intro-description {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  /* intro large */
  .large-description {
    font-size: 0.9rem;
    line-height: 1;
  }

  .large-description p {
    margin-bottom: auto;
  }

  .button {
    padding: 6px 28px;
    border-radius: 23px;
    border: 2px solid #FFF;
  }

  .button i {
    margin-left: -13px;
  }

  .button:hover i {
    margin-left: 13px;
  }

  .link-item {
    font-size: 14px;
    padding-bottom: 15px;
  }

  .link-item i {
    margin-left: -18px;
  }

  .link-item:hover i {
    margin-left: 9px;
  }

  .swf {
    margin: 0 10px 0 -20px;
  }

  .address i {
    width: 22px;
  }

  .addressContainer {
    padding-left: 35%;
  }

  .social .icon {
    margin: 1rem 1rem 1rem 0;
  }

  .social .icon span i {
    font-size: 1.9rem;
  }

  .social .icon .bubble {
    display: none;
  }

  .blue-item {
    font-size: 14px;
    padding-bottom: 16px;
  }

  .blue-item i {
    margin-left: -18px;
  }

  .blue-item:hover i {
    margin-left: 9px;
  }

  .network-item {
    font-size: 14px;
    padding-bottom: 16px;
    width: 16%;
  }

  .network-item .fa-brands {
    margin-right: 8px;
    font-size: 1rem;
  }

  .network-item .fa-solid {
    opacity: 0;
    margin-left: -20px;
  }

  .network-item:hover .fa-solid {
    opacity: 1;
    margin-left: 10px;
  }

  .ess-name {
    font-size: 13px;
  }

  .ess-charge {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
    margin-left: 2px;
  }


  .ov-container {
    padding-left: 8px;
  }

  .ov-container .ov-item a {
    font-size: 19px;
    padding: 22px 0;
  }

  .ov-container .ov-item i {
    margin-left: -19px;
  }

  .ov-container .ov-item:hover i {
    margin-left: 10px;
  }

  .ov-container .ov-list .ov-item ul li {
    padding: 0px 44px;
  }

  .overlayContainer {
    margin: 10px;
  }

  .btn-close {
    right: 19px;
    top: 19px;
  }

  .btn-close i {
    font-size: 34px;
  }

  .overlay {
    padding: 95px;
  }

  .overlay-title {
    padding: 15px 0px;
  }

  .name {
    font-size: 15px;
  }

  .charge {
    font-size: 12px;
    margin: -5px 0px 0px 0px;
  }

  .ytVideo {
    max-width: 950px;
    max-height: 535px;
  }

  .igVideo {
    max-width: 342px;
    max-height: 608px;
  }

  .videoInt {
    max-width: 550px;
    max-height: 550px;
  }


  #headEspecialidades {
    top: 95px;
  }

  .wrapperAcc {
    padding: 0 19px;
  }

  .wrapperAcc .parent-tab {
    margin-bottom: 8px;
  }

  .wrapperAcc .parent-tab label {
    padding: 9px 19px;
    font-size: 1rem;
  }

  .wrapperAcc label span {
    font-size: 1rem;
  }

  .wrapperAcc label .icon {
    height: 28px;
    width: 28px;
    border-radius: 50%;
  }

  .wrapperAcc .parent-tab input:checked~label .icon i:before {
    padding-left: 15px;
    transition: padding-left translateX(15px);
  }

  .wrapperAcc .parent-tab .content p {
    font-size: .9rem;
    padding: 15px 19px 0px 19px;
  }

  .internal-title {
    padding: 38px 0px;
  }

  .line-title {
    padding-right: 1rem;
  }

  footer {
    padding: 1.35rem 0;
  }
}